In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import warnings
warnings.filterwarnings("ignore")
import itertools
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
from keras.utils.data_utils import get_file

In [ ]:
# Downloading training and test sets to local drive
try:
    training_set_path = get_file('KDDTrain%2B.csv', origin='https://raw.githubusercontent.com/defcom17/NSL_KDD/master/KDDTrain%2B.csv')
except:
    print('Error downloading')
    raise


try:
    test_set_path = get_file('KDDTest%2B.csv', origin='https://raw.githubusercontent.com/defcom17/NSL_KDD/master/KDDTest%2B.csv')
except:
    print('Error downloading')
    raise
training_df = pd.read_csv(training_set_path, header=None)
testing_df = pd.read_csv(test_set_path, header=None)

Downloading data from https://raw.githubusercontent.com/defcom17/NSL_KDD/master/KDDTrain%2B.csv
14612857/14612857 [==============================] - 0s 0us/step
Downloading data from https://raw.githubusercontent.com/defcom17/NSL_KDD/master/KDDTest%2B.csv
2639177/2639177 [==============================] - 0s 0us/step

In [ ]:
training_df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21

In [ ]:
testing_df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.04,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.61,0.04,0.61,0.02,0.0,0.0,0.00,0.00,normal,21
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,1.00,0.00,1.00,0.28,0.0,0.0,0.00,0.00,saint,15
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.31,0.17,0.03,0.02,0.0,0.0,0.83,0.71,mscan,11

In [ ]:
 columns = [
    'duration',
    'protocol_type',
    'service',
    'flag',
    'src_bytes',
    'dst_bytes',
    'land',
    'wrong_fragment',
    'urgent',
    'hot',
    'num_failed_logins',
    'logged_in',
    'num_compromised',
    'root_shell',
    'su_attempted',
    'num_root',
    'num_file_creations',
    'num_shells',
    'num_access_files',
    'num_outbound_cmds',
    'is_host_login',
    'is_guest_login',
    'count',
    'srv_count',
    'serror_rate',
    'srv_serror_rate',
    'rerror_rate',
    'srv_rerror_rate',
    'same_srv_rate',
    'diff_srv_rate',
    'srv_diff_host_rate',
    'dst_host_count',
    'dst_host_srv_count',
    'dst_host_same_srv_rate',
    'dst_host_diff_srv_rate',
    'dst_host_same_src_port_rate',
    'dst_host_srv_diff_host_rate',
    'dst_host_serror_rate',
    'dst_host_srv_serror_rate',
    'dst_host_rerror_rate',
    'dst_host_srv_rerror_rate',
    'outcome',
    'difficulty'
]
training_df.columns = columns
testing_df.columns = columns

In [ ]:
print("Training set has {} rows.".format(len(training_df)))
print("Testing set has {} rows.".format(len(testing_df)))

Training set has 125973 rows.
Testing set has 22543 rows.

In [ ]:
training_outcomes=training_df["outcome"].unique()
testing_outcomes=testing_df["outcome"].unique()
print("The training set has {} possible outcomes \n".format(len(training_outcomes)) )
print(", ".join(training_outcomes)+".")
print("\nThe testing set has {} possible outcomes \n".format(len(testing_outcomes)))
print(", ".join(testing_outcomes)+".")

The training set has 23 possible outcomes

normal, neptune, warezclient, ipsweep, portsweep, teardrop, nmap, satan, smurf, pod, back, guess_passwd, ftp_write, multihop, rootkit, buffer_overflow, imap, warezmaster, phf, land, loadmodule, spy, perl.

The testing set has 38 possible outcomes

neptune, normal, saint, mscan, guess_passwd, smurf, apache2, satan, buffer_overflow, back, warezmaster, snmpgetattack, processtable, pod, httptunnel, nmap, ps, snmpguess, ipsweep, mailbomb, portsweep, multihop, named, sendmail, loadmodule, xterm, worm, teardrop, rootkit, xlock, perl, land, xsnoop, sqlattack, ftp_write, imap, udpstorm, phf.

In [ ]:
# A list ot attack names that belong to each general attack type
dos_attacks=["snmpgetattack","back","land","neptune","smurf","teardrop","pod","apache2","udpstorm","processtable","mailbomb"]
r2l_attacks=["snmpguess","worm","httptunnel","named","xlock","xsnoop","sendmail","ftp_write","guess_passwd","imap","multihop","phf","spy","warezclient","warezmaster"]
u2r_attacks=["sqlattack","buffer_overflow","loadmodule","perl","rootkit","xterm","ps"]
probe_attacks=["ipsweep","nmap","portsweep","satan","saint","mscan"]

# Our new labels
classes=["Normal","Dos","R2L","U2R","Probe"]

#Helper function to label samples to 5 classes
def label_attack (row):
    if row["outcome"] in dos_attacks:
        return classes[1]
    if row["outcome"] in r2l_attacks:
        return classes[2]
    if row["outcome"] in u2r_attacks:
        return classes[3]
    if row["outcome"] in probe_attacks:
        return classes[4]
    return classes[0]


#We combine the datasets temporarily to do the labeling
test_samples_length = len(testing_df)
df=pd.concat([training_df,testing_df])
df["Class"]=df.apply(label_attack,axis=1)


# The old outcome field is dropped since it was replaced with the Class field, the difficulty field will be dropped as well.
df=df.drop("outcome",axis=1)
df=df.drop("difficulty",axis=1)

# we again split the data into training and test sets.
type_testing_df = testing_df
training_df= df.iloc[:-test_samples_length, :]
testing_df= df.iloc[-test_samples_length:,:]

In [ ]:
training_outcomes=training_df["Class"].unique()
testing_outcomes=testing_df["Class"].unique()
print("The training set has {} possible outcomes \n".format(len(training_outcomes)) )
print(", ".join(training_outcomes)+".")
print("\nThe testing set has {} possible outcomes \n".format(len(testing_outcomes)))
print(", ".join(testing_outcomes)+".")

The training set has 5 possible outcomes

Normal, Dos, R2L, Probe, U2R.

The testing set has 5 possible outcomes

Dos, Normal, Probe, R2L, U2R.

In [ ]:
# Helper function for scaling continous values
def minmax_scale_values(training_df,testing_df, col_name):
    scaler = MinMaxScaler()
    scaler = scaler.fit(training_df[col_name].values.reshape(-1, 1))
    train_values_standardized = scaler.transform(training_df[col_name].values.reshape(-1, 1))
    training_df[col_name] = train_values_standardized
    test_values_standardized = scaler.transform(testing_df[col_name].values.reshape(-1, 1))
    testing_df[col_name] = test_values_standardized


#Helper function for one hot encoding
def encode_text(training_df,testing_df, name):
    training_set_dummies = pd.get_dummies(training_df[name])
    testing_set_dummies = pd.get_dummies(testing_df[name])
    for x in training_set_dummies.columns:
        dummy_name = "{}_{}".format(name, x)
        training_df[dummy_name] = training_set_dummies[x]
        if x in testing_set_dummies.columns :
            testing_df[dummy_name]=testing_set_dummies[x]
        else :
            testing_df[dummy_name]=np.zeros(len(testing_df))
    training_df.drop(name, axis=1, inplace=True)
    testing_df.drop(name, axis=1, inplace=True)


sympolic_columns=["protocol_type","service","flag"]
label_column="Class"
for column in df.columns :
    if column in sympolic_columns:
        encode_text(training_df,testing_df,column)
    elif not column == label_column:
        minmax_scale_values(training_df,testing_df, column)

In [ ]:
training_df.head(5)

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,0.0,3.558064e-07,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1,0.0,1.057999e-07,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
2,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
3,0.0,1.681203e-07,6.223962e-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,1,0
4,0.0,1.442067e-07,3.206260e-07,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
training_df.columns

Index(['duration', 'src_bytes', 'dst_bytes', 'land', 'wrong_fragment',
       'urgent', 'hot', 'num_failed_logins', 'logged_in', 'num_compromised',
       ...
       'flag_REJ', 'flag_RSTO', 'flag_RSTOS0', 'flag_RSTR', 'flag_S0',
       'flag_S1', 'flag_S2', 'flag_S3', 'flag_SF', 'flag_SH'],
      dtype='object', length=123)

In [ ]:
# Assuming 'data' is the DataFrame
column_names = training_df.columns.tolist()

# Display all column names
for name in column_names:
    print(name)
np.save('/content/drive/MyDrive/Colab Notebooks/xNIDS/Data/kdd_after_features.npy', column_names)

duration
src_bytes
dst_bytes
land
wrong_fragment
urgent
hot
num_failed_logins
logged_in
num_compromised
root_shell
su_attempted
num_root
num_file_creations
num_shells
num_access_files
num_outbound_cmds
is_host_login
is_guest_login
count
srv_count
serror_rate
srv_serror_rate
rerror_rate
srv_rerror_rate
same_srv_rate
diff_srv_rate
srv_diff_host_rate
dst_host_count
dst_host_srv_count
dst_host_same_srv_rate
dst_host_diff_srv_rate
dst_host_same_src_port_rate
dst_host_srv_diff_host_rate
dst_host_serror_rate
dst_host_srv_serror_rate
dst_host_rerror_rate
dst_host_srv_rerror_rate
Class
protocol_type_icmp
protocol_type_tcp
protocol_type_udp
service_IRC
service_X11
service_Z39_50
service_aol
service_auth
service_bgp
service_courier
service_csnet_ns
service_ctf
service_daytime
service_discard
service_domain
service_domain_u
service_echo
service_eco_i
service_ecr_i
service_efs
service_exec
service_finger
service_ftp
service_ftp_data
service_gopher
service_harvest
service_hostnames
service_http
service_http_2784
service_http_443
service_http_8001
service_imap4
service_iso_tsap
service_klogin
service_kshell
service_ldap
service_link
service_login
service_mtp
service_name
service_netbios_dgm
service_netbios_ns
service_netbios_ssn
service_netstat
service_nnsp
service_nntp
service_ntp_u
service_other
service_pm_dump
service_pop_2
service_pop_3
service_printer
service_private
service_red_i
service_remote_job
service_rje
service_shell
service_smtp
service_sql_net
service_ssh
service_sunrpc
service_supdup
service_systat
service_telnet
service_tftp_u
service_tim_i
service_time
service_urh_i
service_urp_i
service_uucp
service_uucp_path
service_vmnet
service_whois
flag_OTH
flag_REJ
flag_RSTO
flag_RSTOS0
flag_RSTR
flag_S0
flag_S1
flag_S2
flag_S3
flag_SF
flag_SH

In [ ]:
x,y=training_df,training_df.pop("Class").values
x=x.values
x_test,y_test=testing_df,testing_df.pop("Class").values
x_test=x_test.values
y0=np.ones(len(y),np.int8)
y0[np.where(y==classes[0])]=0
y0_test=np.ones(len(y_test),np.int8)
y0_test[np.where(y_test==classes[0])]=0
input_shape = x.shape[1]

In [ ]:
x_test.shape[0]

22543

In [ ]:
x_test.shape[-1]

122

In [ ]:

from tensorflow import keras
from keras.layers import LSTM, Input, Dense, Dropout
from keras.models import Model, Sequential

# Reshape the training and test data
x_train = np.reshape(x, (x.shape[0], 1, x.shape[-1]))
x_test = np.reshape(x_test, (x_test.shape[0], 1, x_test.shape[-1]))

# LSTM requirements
lst = Sequential()

# Input layer and LSTM layer with 50 neurons
lst.add(LSTM(50, batch_input_shape=(1, 1, x.shape[-1]), stateful=True, return_sequences=True))
lst.add(Dropout(0.2))  # Dropout layer with 20% dropout rate

# Additional LSTM layer with 50 neurons
lst.add(LSTM(10))
lst.add(Dropout(0.2))  # Dropout layer with 20% dropout rate
# Output layer with sigmoid activation
lst.add(Dense(1, activation='sigmoid'))

lst.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
lst.summary()

# Training the model with stateful LSTM
for epoch in range(2):
    history = lst.fit(x_train, y0, epochs=1, batch_size=1, validation_split=0.2, shuffle=False)
    lst.reset_states()

test_results = lst.evaluate(x_test, y0_test, batch_size=1, verbose=1)
print(f'Test results - Loss: {test_results[0]} - Accuracy: {test_results[1] * 100}%')

# Save the model
model_path = "/content/drive/MyDrive/Colab Notebooks/xNIDS/Models/lstm_history_model.h5"
lst.save(model_path)
print("Model saved.")

# Load the model
new_model = keras.models.load_model(model_path)
new_model.summary()
print("Model loaded.")

import matplotlib.pyplot as plt

# Plot accuracy vs epoch of train and test dataset
#plt.plot(history.history['accuracy'])
#plt.plot(history.history['val_accuracy'])
#plt.title("Plot of accuracy vs epoch for train and test dataset")
#plt.ylabel('accuracy')
#plt.xlabel('epoch')
#plt.legend(['train', 'test'], loc='best')
#plt.show()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (1, 1, 50)                34600

 dropout (Dropout)           (1, 1, 50)                0

 lstm_1 (LSTM)               (1, 10)                   2440

 dropout_1 (Dropout)         (1, 10)                   0

 dense (Dense)               (1, 1)                    11

=================================================================
Total params: 37,051
Trainable params: 37,051
Non-trainable params: 0
_________________________________________________________________
100778/100778 [==============================] - 445s 4ms/step - loss: 0.0739 - accuracy: 0.9744 - val_loss: 0.0505 - val_accuracy: 0.9816
100778/100778 [==============================] - 373s 4ms/step - loss: 0.0486 - accuracy: 0.9826 - val_loss: 0.0446 - val_accuracy: 0.9844
22543/22543 [==============================] - 41s 2ms/step - loss: 1.2135 - accuracy: 0.7605
Test results - Loss: 1.213534951210022 - Accuracy: 76.05465054512024%
Model saved.
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (1, 1, 50)                34600

 dropout (Dropout)           (1, 1, 50)                0

 lstm_1 (LSTM)               (1, 10)                   2440

 dropout_1 (Dropout)         (1, 10)                   0

 dense (Dense)               (1, 1)                    11

=================================================================
Total params: 37,051
Trainable params: 37,051
Non-trainable params: 0
_________________________________________________________________
Model loaded.

In [ ]:
# Prepare data for explanations.
# Make predictions
predicted_probabilities = lst.predict(x_test,batch_size=1)
predicted_labels = (predicted_probabilities >= 0.5).astype(int)

rnn_false_positives = []  # Store indices of false positives
rnn_false_negatives = []  # Store indices of false negatives
for i in range(len(predicted_labels)):
    if predicted_labels[i][0] != y0_test[i]:
        if predicted_labels[i][0] == 1:  # False positive
            rnn_false_positives.append(i)
        else:
           rnn_false_negatives.append(i)

22543/22543 [==============================] - 39s 2ms/step

In [ ]:
rnn_false_positives

[18,
 29,
 33,
 222,
 230,
 237,
 275,
 295,
 304,
 312,
 331,
 337,
 358,
 366,
 399,
 412,
 427,
 433,
 453,
 469,
 476,
 477,
 495,
 555,
 569,
 571,
 594,
 640,
 645,
 673,
 676,
 720,
 721,
 722,
 753,
 837,
 869,
 890,
 942,
 1017,
 1069,
 1091,
 1111,
 1128,
 1183,
 1199,
 1216,
 1226,
 1261,
 1328,
 1397,
 1434,
 1472,
 1476,
 1484,
 1501,
 1526,
 1580,
 1622,
 1626,
 1730,
 1777,
 1899,
 1929,
 1946,
 2024,
 2052,
 2058,
 2068,
 2075,
 2093,
 2136,
 2164,
 2227,
 2267,
 2273,
 2293,
 2313,
 2315,
 2375,
 2387,
 2466,
 2480,
 2488,
 2489,
 2517,
 2518,
 2567,
 2587,
 2666,
 2688,
 2761,
 2775,
 2817,
 2863,
 2865,
 2868,
 2937,
 2938,
 2943,
 2960,
 2967,
 3017,
 3074,
 3125,
 3176,
 3201,
 3247,
 3317,
 3320,
 3363,
 3411,
 3472,
 3486,
 3494,
 3497,
 3524,
 3551,
 3673,
 3691,
 3747,
 3827,
 3861,
 3863,
 3882,
 3894,
 3923,
 3971,
 4048,
 4082,
 4085,
 4115,
 4195,
 4305,
 4355,
 4405,
 4417,
 4423,
 4468,
 4499,
 4575,
 4611,
 4625,
 4644,
 4711,
 4808,
 4822,
 4854,
 4863,
 4867,
 4869,
 4895,
 4921,
 4982,
 5011,
 5044,
 5049,
 5169,
 5242,
 5246,
 5252,
 5286,
 5296,
 5333,
 5373,
 5387,
 5448,
 5450,
 5480,
 5525,
 5584,
 5588,
 5595,
 5641,
 5665,
 5667,
 5678,
 5713,
 5718,
 5876,
 5894,
 5938,
 5939,
 5970,
 6005,
 6024,
 6034,
 6122,
 6124,
 6139,
 6201,
 6218,
 6223,
 6238,
 6318,
 6330,
 6347,
 6366,
 6408,
 6479,
 6501,
 6505,
 6508,
 6516,
 6524,
 6537,
 6548,
 6565,
 6597,
 6623,
 6656,
 6663,
 6685,
 6690,
 6705,
 6715,
 6783,
 6784,
 6978,
 6990,
 7034,
 7073,
 7113,
 7161,
 7183,
 7185,
 7258,
 7361,
 7389,
 7397,
 7407,
 7412,
 7460,
 7531,
 7534,
 7539,
 7568,
 7578,
 7601,
 7605,
 7705,
 7730,
 7737,
 7759,
 7773,
 7836,
 7864,
 7866,
 7903,
 7921,
 7969,
 8006,
 8026,
 8059,
 8079,
 8119,
 8135,
 8163,
 8164,
 8180,
 8188,
 8200,
 8202,
 8205,
 8222,
 8223,
 8317,
 8324,
 8349,
 8378,
 8408,
 8493,
 8512,
 8543,
 8580,
 8624,
 8629,
 8645,
 8659,
 8764,
 8774,
 8777,
 8794,
 8804,
 8840,
 8854,
 8874,
 8885,
 8902,
 8954,
 9009,
 9095,
 9107,
 9169,
 9200,
 9252,
 9328,
 9354,
 9363,
 9369,
 9373,
 9425,
 9426,
 9482,
 9498,
 9598,
 9616,
 9627,
 9641,
 9650,
 9658,
 9659,
 9671,
 9680,
 9728,
 9807,
 9862,
 9924,
 9963,
 9999,
 10001,
 10026,
 10052,
 10138,
 10196,
 10240,
 10271,
 10273,
 10304,
 10335,
 10340,
 10374,
 10421,
 10433,
 10446,
 10456,
 10548,
 10611,
 10620,
 10657,
 10670,
 10713,
 10714,
 10722,
 10755,
 10821,
 10826,
 10867,
 10872,
 10898,
 10904,
 10926,
 10964,
 11008,
 11015,
 11025,
 11031,
 11154,
 11230,
 11256,
 11274,
 11285,
 11316,
 11392,
 11418,
 11446,
 11447,
 11474,
 11489,
 11506,
 11526,
 11625,
 11672,
 11707,
 11729,
 11824,
 11859,
 11877,
 11878,
 11927,
 11937,
 11957,
 11967,
 12036,
 12214,
 12277,
 12296,
 12332,
 12370,
 12417,
 12439,
 12492,
 12541,
 12549,
 12573,
 12686,
 12721,
 12730,
 12775,
 12794,
 12806,
 12864,
 12908,
 12967,
 13063,
 13087,
 13147,
 13186,
 13189,
 13200,
 13268,
 13271,
 13274,
 13291,
 13344,
 13400,
 13476,
 13491,
 13518,
 13521,
 13555,
 13579,
 13640,
 13650,
 13664,
 13666,
 13668,
 13680,
 13686,
 13704,
 13750,
 13819,
 13856,
 13891,
 13907,
 13919,
 13934,
 13960,
 13988,
 13999,
 14053,
 14176,
 14181,
 14182,
 14193,
 14236,
 14274,
 14297,
 14407,
 14462,
 14511,
 14516,
 14538,
 14546,
 14559,
 14567,
 14581,
 14644,
 14666,
 14670,
 14679,
 14759,
 14785,
 14788,
 14805,
 14828,
 14913,
 14924,
 14938,
 14946,
 14995,
 15005,
 15013,
 15017,
 15038,
 15093,
 15126,
 15174,
 15264,
 15276,
 15375,
 15381,
 15439,
 15490,
 15527,
 15635,
 15656,
 15674,
 15682,
 15687,
 15694,
 15727,
 15754,
 15831,
 15851,
 15857,
 15878,
 15892,
 15925,
 15934,
 16084,
 16177,
 16234,
 16257,
 16335,
 16344,
 16352,
 16357,
 16360,
 16375,
 16390,
 16447,
 16507,
 16534,
 16560,
 16589,
 16599,
 16606,
 16617,
 16626,
 16640,
 16738,
 16755,
 16760,
 16761,
 16766,
 16770,
 16790,
 16796,
 16805,
 16846,
 16889,
 16984,
 16990,
 16996,
 17015,
 17058,
 17060,
 17074,
 17093,
 17120,
 17121,
 17131,
 17156,
 17194,
 17260,
 17266,
 17283,
 17377,
 17445,
 17449,
 17456,
 17478,
 17483,
 17492,
 17495,
 17537,
 17545,
 17623,
 17803,
 17986,
 18032,
 18105,
 18160,
 18210,
 18277,
 18289,
 18328,
 18344,
 18362,
 18368,
 18386,
 18388,
 18414,
 18430,
 18458,
 18479,
 18506,
 18507,
 18512,
 18570,
 18608,
 18709,
 18739,
 18764,
 18773,
 18826,
 18850,
 18854,
 18974,
 18975,
 19007,
 19023,
 19072,
 19084,
 19086,
 19114,
 19195,
 19273,
 19277,
 19289,
 19348,
 19354,
 19401,
 19414,
 19435,
 19440,
 19451,
 19457,
 19510,
 19534,
 19545,
 19690,
 19732,
 19776,
 19790,
 19849,
 19862,
 19870,
 19903,
 19974,
 19989,
 20005,
 20032,
 20071,
 20192,
 20251,
 20264,
 20284,
 20287,
 20304,
 20320,
 20426,
 20440,
 20446,
 20449,
 20452,
 20658,
 20666,
 20702,
 20717,
 20722,
 20752,
 20774,
 20776,
 20779,
 20794,
 20799,
 20803,
 20804,
 20873,
 20911,
 20932,
 20960,
 21017,
 21045,
 21083,
 21119,
 21143,
 21284,
 21311,
 21335,
 21355,
 21373,
 21428,
 21430,
 21443,
 21479,
 21480,
 21482,
 21507,
 21521,
 21537,
 21549,
 21597,
 21604,
 21606,
 21612,
 21616,
 21622,
 21631,
 21636,
 21667,
 21679,
 21695,
 21705,
 21709,
 21843,
 21898,
 21959,
 21987,
 22010,
 22039,
 22072,
 22168,
 22191,
 22266,
 22279,
 22297,
 22305,
 22335,
 22350,
 22375,
 22377,
 22398,
 22399,
 22408,
 22439,
 22441]

In [ ]:
#rnn_false_negatives

In [ ]:
kdd_selected_fp_rows = type_testing_df.loc[19000:19114]
kdd_selected_fp_rows_122 = pd.DataFrame(x_test[19000:19115].reshape(115,122))
kdd_selected_fp_rows.to_csv('/content/drive/MyDrive/Colab Notebooks/xNIDS/Data/kdd_history_selected_fp_rows.csv', index=True)
kdd_selected_fp_rows_122.to_csv('/content/drive/MyDrive/Colab Notebooks/xNIDS/Data/kdd_history_selected_fp_rows_122.csv', index=True)
# 19114

In [ ]:
kdd_selected_fp_rows

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,outcome,difficulty
19000,0,tcp,http,SF,142,6103,0,0,0,0,...,1.00,0.00,0.05,0.04,0.00,0.00,0.00,0.00,normal,21
19001,0,udp,private,SF,47,44,0,0,0,0,...,1.00,0.00,0.57,0.00,0.00,0.00,0.00,0.00,normal,14
19002,0,tcp,http,SF,159,601,0,0,0,0,...,1.00,0.00,0.02,0.02,0.00,0.00,0.00,0.00,normal,21
19003,0,tcp,http,S0,0,0,0,0,0,0,...,0.96,0.01,0.00,0.00,0.20,0.21,0.56,0.59,apache2,15
19004,0,tcp,other,REJ,0,0,0,0,0,0,...,0.00,1.00,0.00,0.00,0.13,0.00,0.87,1.00,saint,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19110,0,tcp,http,SF,170,603,0,0,0,0,...,1.00,0.00,1.00,0.02,0.00,0.00,0.00,0.00,normal,21
19111,0,tcp,http,SF,324,1227,0,0,0,0,...,1.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,normal,21
19112,0,tcp,http,SF,308,825,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21
19113,0,tcp,http,SF,243,5333,0,0,0,0,...,1.00,0.00,0.01,0.05,0.00,0.00,0.00,0.00,normal,21
19114,0,udp,private,SF,54,51,0,0,0,0,...,1.00,0.00,0.86,0.00,0.00,0.00,0.00,0.00,normal,17

In [ ]:
predicted_probabilities[19114]

array([0.92638266], dtype=float32)

In [ ]:
idx = 19114

In [ ]:
y0_test[idx]

0

In [ ]:
lst.predict(x_test[idx].reshape(1,1,-1))

1/1 [==============================] - 0s 24ms/step

array([[0.9903234]], dtype=float32)

In [ ]:
lst.predict(x_test[idx-1:idx+1],batch_size=1)

2/2 [==============================] - 0s 6ms/step

array([[0.00105977],
       [0.97901255]], dtype=float32)

In [ ]:
lst.predict(x_test[idx-3:idx+1],batch_size=1)

4/4 [==============================] - 0s 4ms/step

array([[0.01316929],
       [0.00207315],
       [0.00095898],
       [0.9317424 ]], dtype=float32)

In [ ]:
lst.predict(x_test[idx-7:idx+1],batch_size=1)

8/8 [==============================] - 0s 2ms/step

array([[9.9961805e-01],
       [2.6946910e-02],
       [9.9867439e-01],
       [1.8075944e-03],
       [3.7709917e-03],
       [1.8523487e-03],
       [9.6929516e-04],
       [9.2648917e-01]], dtype=float32)

In [ ]:
lst.predict(x_test[idx-15:idx+1],batch_size=1)

16/16 [==============================] - 0s 2ms/step

array([[9.9962002e-01],
       [9.9953932e-01],
       [1.7771536e-03],
       [4.7203647e-03],
       [9.2692074e-04],
       [9.9185260e-04],
       [9.9522946e-04],
       [2.5704914e-01],
       [9.9961978e-01],
       [2.7482037e-02],
       [9.9868304e-01],
       [1.8075197e-03],
       [3.7704094e-03],
       [1.8532976e-03],
       [9.6933905e-04],
       [9.2638475e-01]], dtype=float32)

In [ ]:
#kdd_selected_fp_rows